<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ item.domain }}</title>
  </head>
  <body>
    <h1>{{ item.domain }}</h1><hr><p><i>is a website</i></p>
  </body>
</html>
